

<h2>All Questions</h2>
<section class="questions_container">
  <% @questions.each do |question| %>
  <div class="questions_container" >

    <div class="question_votes_answers">
      <strong><%= question.votes.map(&:vote).reduce(:+) %> Votes</strong>
      <strong><%= question.answers.count %> Answers</strong>
    </div>
    <p class="question_author"><a href="/questions/<%= question.author.id %>"><%= question.author.username %></a></p>

    <div class="question_all">
      <h3><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>
      <p><%= question.body %></p>
    </div>


  </div>

  <%end%>
</section>
