
<h1><%= @question.title %></h1>


<a href="/votes/up">up</a>
<strong><%= @question.votes.count %></strong>
<a href="/votes/down">down</a>

<p><%= @question.body %></p>

<div> <% @question.comments.each do |comment|%>

  <p> <%= comment.body %></p>
  <% end  %>
  <a href="/questions/<%= @question.author.id %>"><%= @question.author.username %></a>
</div>

<h3><%= @question.answers.count %> Answers</h3>

<section class="container">
  <% @question.answers.each do |answer| %>

  <div class="answer">

    <div class="votes">
      <a href="/votes/up">up</a>
      <strong><%= answer.votes.count %></strong>
      <a href="/votes/down">down</a>
    </div>

    <p style="background-color:bisque;"><%= answer.body %></p>

    <div> <% answer.comments.each do |comment|%>
    <div class="show_main_container">
      <p style="bisque" class="comment"> <%= comment.body %></p>
      <% end  %>
    </div>
  </div>

  <%end%>
</section>

<textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Enter answer here...">
</textarea>
<form action="/answers/new" method="post" id="postanswer">
  <input type="submit">
</form>
<br>

