
<h1><%= @question.title %></h1>
<div class="vote-container">
  <a class="voteup" href="/votes/up?votable_id=<%=@question.id%>&votable_type=Question">up</a>
  <strong><%= @question.votes.map(&:vote).reduce(:+)%></strong>
  <a class="votedown" href="/votes/down?votable_id=<%=@question.id%>&votable_type=Question">down</a>
</div>
<p><%= @question.body %></p>
<div> <% @question.comments.each do |comment|%>
  <p> <%= comment.body %></p>
  <% end  %>
  <a href="/questions/<%= @question.author.id %>"><%= @question.author.username %></a>
</div>

<h3><%= @question.answers.count %> Answers</h3>

<section class="container">
  <% @question.answers.each do |answer| %>
  <div class="answer">

    <div class="vote-container">
      <a class="voteup" href="/votes/up?votable_id=<%=answer.id%>&votable_type=Answer">up</a>
      <strong><%= answer.votes.map(&:vote).reduce(:+) %></strong>
      <a class="votedown" href="/votes/down?votable_id=<%=answer.id%>&votable_type=Answer">down</a>
    </div>

    <p><%= answer.body %></p>

    <div> <% answer.comments.each do |comment|%>
      <p class="comment"> <%= comment.body %></p>
      <% end  %>
    </div>
  </div>

  <%end%>
</section>

<textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Enter answer here...">
</textarea>
<form action="/answers/new" method="post" id="postanswer">
  <input type="submit">
</form>
<br>

