<h1><%= @question.title %></h1>

  <a href="/votes/up">up</a>
    <strong><%= @question.votes.count %></strong>
  <a href="/votes/down">down</a>

<p><%= @question.body %></p>

<div> <% @question.comments.each do |comment|%>
    <p> <%= comment.body %></p>
  <% end  %>
  <a href="/questions/<%= @question.author.id %>"><%= @question.author.username %></a>
</div>

<h3><%= @question.answers.count %> Answers</h3>

<section class="container">
  <% @question.answers.each do |answer| %>
    <%=erb :'answers/_answer_show', locals: { answer: answer}, layout: false%>
  <%end%>
</section>

<form action="/questions/<%=@question.id%>/answers/new" method="post" id="postanswer">
  <input name="answer" type="text" placeholder="Enter answer here..."></input><br>
  <input type="submit" value="Submit">
</form>

