<h2 class="user-profile">Welcome back, <%=current_user.username%></h2>

<h3 class="user-questions-header">Your Questions to the Underflow Community</h3>

<div class="user-questions-profile">
  <%current_user.questions.each do |question|%>
    <p><a href="/questions/<%=question.id%>"><%=question.title%></a></p>
    <p><%=question.body%></p>
<div class="question-comments">
    <%question.comments.each do |comment|%>
      <p><%=comment.body%></p>
</div>
    <%end%>
<div class="profile-answers-page">
    <%question.answers.each do |answer|%>
      <p><%=answer.body%></p>
      <p><%=answer.author.username%></p>
</div>
    <%end%>
<%end%>
</div>
