<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


  <title>StackUnderflow</title>
</head>
  <body>
  <h1>StackUnderflow</h1>
  <%= erb :'_errors', layout: false %>
  <a href="/questions/new" class="ask-question">Ask Question</a>
  <!-- Need logged_id helper method -->
  <% if logged_in? %>
    <nav>
      <a href="/users/<%=current_user.id%>"> <%= current_user.username %> </a> |
      <form action="/sessions/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>  |
      <a href="/users/<%=current_user%>"></a>  |  <a href="/">Home</a>
    </nav>
  <% else %>
    <nav> <a href="/sessions/new">Login</a>  |  <a href="/users/new">Register</a> | <a href="/">Home</a></nav>
  <% end %>
    <%= yield %>
  </body>
</html>
